<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">My Little Forge:<br/>
        Craft & Sell</h1>
        <p class="home-text">Run Your Own Dwarven Forge</p>
        <p class="home-text-two">You'll be digging up ore, melting it down, and forging some pretty epic gear to sell to... well, let's just say you'll
        meet some really weird customers. There's no rush or anything - just play at whatever pace works for you</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.PloxGames.TinyForgeTycoon&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play" loading="lazy">
        </a>
    </div>
</section>
<section class="features-section" id="features">
    <div class="container">
        <h2 class="features-title">FEATURES</h2>
        <ul class="features-list">
            <li class="features-item">
                <div class="features-item-wrapper">
                    <p class="features-item-title">A Forge That Never Sleeps</p>
                    <p class="features-item-text">Your helpers will keep working even when you're not playing, so you'll come back to find they've made a bunch of stuff
                    you can sell.</p>
                </div>
        <picture>
            <source srcset="
                              /img/features/desk-one.png 1x,
                              /img/features/desk-one@2x.png 2x
                                " media="(min-width: 1440px)" />
            <source srcset="
                               /img/features/mob-one.png 1x,
                              /img/features/mob-one@2x.png 2x
                               " media="(max-width: 1439px)" />
            <img src="/img/features/mob-one.png" alt="My Little Forge:
    Craft & Sell" loading="lazy" />
        </picture>
            </li>
            <li class="features-item">
                <picture>
                    <source srcset="
                                          /img/features/desk-two.png 1x,
                                          /img/features/desk-two@2x.png 2x
                                            " media="(min-width: 1440px)" />
                    <source srcset="
                                           /img/features/mob-two.png 1x,
                                          /img/features/mob-two@2x.png 2x
                                           " media="(max-width: 1439px)" />
                    <img src="/img/features/mob-two.png" alt="My Little Forge:
                Craft & Sell" loading="lazy" />
                </picture>                
                <div class="features-item-wrapper">
                    <p class="features-item-title">Mine, Smelt, Craft, Repeat</p>
                    <p class="features-item-text">You handle everything from start to finish - raw ore turns into ingots, then weapons, and finally cold hard cash.</p>
                </div>
            </li>
            <li class="features-item">
                <div class="features-item-wrapper">
                    <p class="features-item-title">Customers With Character</p>
                    <p class="features-item-text">You'll meet all sorts of weird customers, each wanting different things and carrying varying amounts of cash to spend.</p>
                </div>
        <picture>
            <source srcset="
                              /img/features/desk-three.png 1x,
                              /img/features/desk-three@2x.png 2x
                                " media="(min-width: 1440px)" />
            <source srcset="
                               /img/features/mob-three.png 1x,
                              /img/features/mob-three@2x.png 2x
                               " media="(max-width: 1439px)" />
            <img src="/img/features/mob-three.png" alt="My Little Forge:
    Craft & Sell" loading="lazy" />
        </picture>
            </li>
            <li class="features-item">
                <picture>
                    <source srcset="
                      /img/features/desk-four.png 1x,
                      /img/features/desk-four@2x.png 2x
                      " media="(min-width: 1440px)" />
                    <source srcset="
                     /img/features/mob-four.png 1x,
                     /img/features/mob-four@2x.png 2x
                      " media="(max-width: 1439px)" />
                    <img src="/img/features/mob-four.png" alt="My Little Forge:
                Craft & Sell" loading="lazy" />
                </picture>                
                <div class="features-item-wrapper">
                    <p class="features-item-title">Grow at Your Own Pace</p>
                    <p class="features-item-text">Upgrade your forge, unlock new recipes, and expand your workshop without timers or pressure.</p>
                </div>
            </li>                     
        </ul>
    </div>
</section>