<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">My Little Forge:<br/>
        Craft & Sell</h1>
        <p class="home-text">Run Your Own Dwarven Forge</p>
        <p class="home-text-two">You'll be digging up ore, melting it down, and forging some pretty epic gear to sell to... well, let's just say you'll
        meet some really weird customers. There's no rush or anything - just play at whatever pace works for you</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.PloxGames.TinyForgeTycoon&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play" loading="lazy">
        </a>
    </div>
</section>