body{
  background: #b3e4f0;
  font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #15171c;
}
h2{
  font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #fee41a;
text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    0px -2px 0 #000,
    0px 2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000;
    margin-bottom: 48px;
}
@media only screen and (min-width: 1440px) {
body{
  font-size: 18px;
}
}